@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Mulish", serif;
}

:root {
    --font-primary: #424247;
    --font-secondary: #131318;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-h1: 4rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.5rem;
    --color-primary: #FFF;
    --color-secondary: #FF5400;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    padding: 30px 18vh 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 50px;
}

.logo-title {
    color: var(--font-secondary);
    font-size: 1.8rem;
    font-weight: 800;
}

.logo-title span {
    color: var(--color-secondary);
}

nav ul {
    display: flex;
    gap: 35px;

}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--font-primary);
    font-size: var(--font-size-base);
    font-weight: 600;
}

nav ul li:first-child a {
    color: var(--color-secondary);
}

.icon-hamburger {
    display: none;
}

.header-details {
    margin-top: 30px;
    position: relative;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.header-details::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-details .content h1 {
    color: var(--color-primary);
}

.header-details .content p {
    color: var(--color-primary);
    font-size: var(--font-size-base);
    width: 65%;
    text-align: center;
}

.find-form {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .3);
    width: 60vw;

}

.find-form>* {
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 10px;
    border: none;
    width: 100%;
    padding-left: 15px;

}

.find-form input {
    box-sizing: border-box;
}

.find-form input::placeholder {

    font-size: var(--font-size-base);
    font-weight: 300;
    color: var(--font-primary);
}

.find-form input:focus {
    outline: none;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select span {}

.select span:first-child {
    font-size: var(--font-size-base);
    font-weight: 300;
    color: var(--font-primary);
}

.find-form button {
    background-color: var(--color-secondary);
    font-size: var(--font-size-base);
    font-weight: 700;
    color: var(--color-primary);
}

.our-populer-tools {
    margin-top: 80px;
    padding: 0px 18vh;
    display: flex;
    gap: 50px;
    height: 500px;
}

.our-populer-tools>* {
    flex: 1;

}

.our-populer-tools .left-side {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-base);
    color: var(--font-primary);
    justify-content: space-between;
}

.our-populer-tools .left-side h2 {
    color: var(--font-secondary);
    font-weight: 800;
}

.our-populer-tools .left-side ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.our-populer-tools .left-side li {
    list-style-position: inside;
    margin-left: 20px;
}

.our-populer-tools .left-side button {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: none;
    height: 50px;
    padding: 0 25px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 800;
    align-self: flex-start;
}

.our-populer-tools .right-side img {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    header {
        padding: 20px 15px 0px;
    }


    .logo img {
        width: 40px;
    }

    .logo-title {
        color: var(--font-secondary);
        font-size: 1.5rem;
        font-weight: 800;
    }

    nav ul {
        display: none;
    }

    .icon-hamburger {
        display: initial;
        display: flex;
    }

    .material-symbols-outlined {
        font-size: 2.2rem !important;
    }


    .header-details {
        margin-top: 20px;
        height: 550px;
    }

    .content {
        gap: 15px;
    }

    .header-details .content h1 {
        color: var(--color-primary);
    }

    .header-details .content p {
        color: var(--color-primary);
        font-size: var(--font-size-base);
        width: 90%;
        text-align: center;
    }

    .find-form {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        width: 85%;
    }

    .our-populer-tools {
        margin-top: 20px;
        flex-direction: column;
        padding: 0 20px;
        gap: 15px
    }

    .our-populer-tools .left-side {
        gap: 15px;
    }
}